### Pandas

* Pandas series

In [9]:
import pandas as pd
a  = [1,7,2]
myvar = pd.Series(a)
print(myvar)
print(myvar[1])
print(type(myvar),'\n')

myvar = pd.Series(a,index = ['x','y','z'])  
print(myvar)
print(myvar['y'])

0    1
1    7
2    2
dtype: int64
7
<class 'pandas.core.series.Series'>

x    1
y    7
z    2
dtype: int64
7

In [15]:
import pandas as pd
a  = [1.4,7,2,3]
myvar = pd.Series(a)
print(myvar)

0    1.4
1    7.0
2    2.0
3    3.0
dtype: float64

In [20]:
import pandas as pd
student_name = ["Ram","shyam", "Radha", "Geeta", 'Seeta']
marks = [50,60,70,80,90]
myvar = pd.Series(marks,index = student_name , name = "student result")
print(myvar)

Ram      50
shyam    60
Radha    70
Geeta    80
Seeta    90
Name: student result, dtype: int64

In [23]:
import pandas as pd
calories = {'day1':400 , 'day2' : 250 , 'day3' : 350}
myvar = pd.Series(calories,index = ['day1','day2'])
print(myvar)

day1    400
day2    250
dtype: int64

In [39]:
import pandas as pd
marks = {"Ram":55 , "shyam":80 , 'radha':80}
ms = pd.Series(marks , name = 'student result')
print(ms)

Ram      55
shyam    80
radha    80
Name: student result, dtype: int64

In [28]:
ms.size

3

In [29]:
ms.dtype

dtype('int64')

In [30]:
ms.name

'student result'

In [31]:
ms.index

Index(['Ram', 'shyam', 'radha'], dtype='object')

In [36]:
ms.values
# type(ms.values)   numpy.ndarray

array([55, 80, 75], dtype=int64)

In [41]:
ms.is_unique   # if all values are different then True

False

In [48]:
import pandas as pd
subs = pd.read_csv('subs.csv')
print(subs)
print(type(subs))

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [50]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [52]:
subs = pd.read_csv('subs.csv',squeeze = True)  #if there is multiple col. it will not work bcz its not series.
print(subs)
print(type(subs))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [55]:
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [56]:
subs.min()

33

In [57]:
subs.max()

396

In [58]:
subs.median()

123.0

In [59]:
subs.sum()

49510

In [62]:
subs[subs>200]  # subs[subs>200].size

165    225
166    249
167    265
168    306
169    261
170    222
225    224
226    254
227    214
228    236
229    261
230    247
231    207
232    254
233    301
234    233
240    202
246    259
248    213
249    210
252    216
275    228
276    237
277    276
279    290
280    295
281    245
282    241
283    267
284    269
285    211
287    206
288    202
290    236
291    222
292    203
312    230
318    244
324    243
325    227
326    259
330    396
331    312
332    268
333    229
337    221
338    225
339    221
340    202
344    276
345    258
346    219
347    212
351    220
354    204
358    210
359    209
360    231
361    226
Name: Subscribers gained, dtype: int64

In [71]:
import pandas as pd
b = pd.read_csv('bollywood.csv',squeeze = True,index_col = ['movie'] )
print(b)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [73]:
b.head()  # default 10 rows or b.head(10)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

In [82]:
b.head(1400)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Yeh Lamhe Judaai Ke                       Shah Rukh Khan
Sheen (film)                                 Tarun Arora
Dude Where's the Party?                   Diwakar Pathak
Thoda Tum Badlo Thoda Hum                    Arya Babbar
Koi... Mil Gaya                                    Rekha
Name: lead, Length: 1400, dtype: object

In [77]:
b.tail(7)

movie
Devdas (2002 Hindi film)      Shah Rukh Khan
Kaante                      Amitabh Bachchan
Hum Tumhare Hain Sanam        Shah Rukh Khan
Aankhen (2002 film)         Amitabh Bachchan
Saathiya (film)                 Vivek Oberoi
Company (film)                    Ajay Devgn
Awara Paagal Deewana            Akshay Kumar
Name: lead, dtype: object

In [78]:
b[0]

'Vicky Kaushal'

In [81]:
b['Kaante']

'Amitabh Bachchan'

In [84]:
b[::2]

movie
Uri: The Surgical Strike                   Vicky Kaushal
The Accidental Prime Minister (film)         Anupam Kher
Evening Shadows                         Mona Ambegaonkar
Fraud Saiyaan                               Arshad Warsi
Manikarnika: The Queen of Jhansi          Kangana Ranaut
                                              ...
Raaz (2002 film)                              Dino Morea
Waisa Bhi Hota Hai Part II                  Arshad Warsi
Kaante                                  Amitabh Bachchan
Aankhen (2002 film)                     Amitabh Bachchan
Company (film)                                Ajay Devgn
Name: lead, Length: 750, dtype: object

In [85]:
b[[0,2,3,4,5]]

movie
Uri: The Surgical Strike                       Vicky Kaushal
The Accidental Prime Minister (film)             Anupam Kher
Why Cheat India                                Emraan Hashmi
Evening Shadows                             Mona Ambegaonkar
Soni (film)                             Geetika Vidya Ohlyan
Name: lead, dtype: object

In [87]:
'2 states (2014 film)' in b

False

In [89]:
'Alia Bhatt' in b.values

True